<!DOCTYPE html>
<html>
<head>
  <title>Add movie</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <%- include('../partials/_navbar') %>
  <h1>edit a movie</h1>
  <form action="/users/<%= user._id %>/movies/<%= movie._id %>?_method=PUT" method="POST">
  <label>Name: <input type="text" name="name" value="<%= movie.name %>"></label><br>
  <label>Director: <input type="text" name="director" value="<%= movie.director %>"></label><br>
  <label>Watched: <input type="checkbox" name="watched" <%= movie.watched ? "checked" : "" %>></label><br>
  <label>Notes: <input type="text" name="notes" value="<%= movie.notes %>"></label><br>
  <label>Description: <textarea name="description"><%= movie.description %></textarea></label><br>
<label>Rating (1-5): <input name="rating" type="number" min="1" max="5" value="<%= movie.rating %>"></label>   
 <button type="submit">done</button>
  </form>
  <a href="/users/:userId/movies"> Back</a>
</body>
</html>
