<%- include('../partials/_navbar') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<div class="page-container">
  <h1><%= user.username %>'s Watchlist</h1>
  <a class="add-btn" href="/users/<%= user._id %>/movies/new">➕ Add New Movie</a>
  <ul class="movie-list">
    <% movies.forEach(movie => { %>
      <li>
        <a href="/users/<%= user._id %>/movies/<%= movie._id %>">
          <%= movie.name %> - <%= movie.director %> -
          <% if (movie.watched) { %>
            Watched
          <% } else { %>
            Not Watched
          <% } %>
        </a>
      </li>
    <% }) %>
  </ul>
</div>